{% extends "main.html" %}
{% block content %}
<div class="header-bar" style="justify-content:center;">
  <h2>Admin Login</h2>

  {% if request.user.is_authenticated %}
    <h2>Admin({{request.user.username}}) Dashboard</h2>
  <br><form method="POST" action= "{% url 'admin-logout' %}" >
    {% csrf_token %}
    <!-- <a href="{% url 'logout' %}">Logout</a> -->
    <button style="margin-left: 40%;" type="submit" class="button">Logout</button>

  </form>
  {% else %}
  <a class="button" href="{% url 'admin-login'  %}">Login</a>

  {% endif %}

</div>

<div class="card-body">
  {% if messages %}
    {% for message in messages %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form method="post" action="{% url 'admin-login' %}">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" required>
    <br><br>
    <label>Password</label>
    <input type="password" name="password" required>
    <br><br>
    <button type="submit" class="button">Login as Admin</button>
  </form>
</div>
{% endblock %}
