{% extends "main.html" %}
{% block content %}
<div class="header-bar" style="justify-content:center;">
  {% if request.user.is_staff or request.user.is_superuser %}
    <h2>Admin: Register New User</h2>
  {% else %}
    <h2>Create Your Account</h2>
  {% endif %}
</div>

<div class="card-body">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <p style="color:red;">{{ message }}</p>
      {% elif message.tags == 'success' %}
        <p style="color:green;">{{ message }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% if request.user.is_staff or request.user.is_superuser %}
      <button type="submit" class="button">Register User</button>
    {% else %}
      <button type="submit" class="button">Sign Up</button>
    {% endif %}
  </form>

  <br>
  {% if request.user.is_staff or request.user.is_superuser %}
    <a href="{% url 'admin-dashboard' %}" class="button" style="background-color: gray;">Back to Dashboard</a>
  {% else %}
    <p> have an account yet!? <a href="{% url 'login' %}">Login</a></p>
  {% endif %}
</div>
{% endblock %}
